<footer>
   
    <div class="main-content">
        <div class="left box">
            <h2> Redes Sociais</h2>
            <div class="content">

                <div class="social">
                    <a href="http://facebook.com"><span class="facebook"> <img src="/img/facebook.png"
                                alt="logo facebook"></span></a>
                    <a href="http://twitter.com"><span class="twitter"><img src="/img/twitter.png"
                                alt="logo twitter"></span></a>
                    <a href="http://instagram.com"><span class="instagram"> <img src="/img/instagram.png"
                                alt="logo instagram"></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>Contatos</h2>
            <div class="content">
                <div class="place">
                    <span class="img"><img src="/img/map.png" alt="map"></span>
                    <span class="text">Av. Brasília nº 5 loja 6A, Rio de Janeiro</span>
                </div>

                <div class="phone">
                    <span class="img"><img src="/img/phone.png" alt="phone"></span>
                    <span class="text">+351 918576154</span>
                </div>

                <div class="email">
                    <span class="img"><img src="/img/email.png" alt="email"></span>
                    <span class="text">Arome@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="right box">
            <h2>Receba novidades por Email</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <input type="email" required>
                    </div>

                    <div class="btn">
                        <button type="button"><img src="/img/enviar.png" alt="enviar"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom">
    </div>
</footer>