<header>
    <div class="header_in">
        <img src="/img/logoArome2.png" class="logoheader" alt="logo header">
        <h1 class="a">Arome</h1>
        <ul>
            <input type="text" placeholder="Buscar" class="buscar">
            <button><img src="/img/search.png" alt="buscar" class="buscarimg"></button>
            <li><a href="./edituser.html" class="active">Lojas <img src="/img/lojas.png" alt="lojas" class="lojas"></a>
            </li>
            <li><a href="http://localhost:3002/cadastro" class="active">Cadastre-se / Login <img src="/img/cadastro.png"
                        alt="cadastro" class="cadastro"></a></li>
            <li><a href="http://localhost:3002/edituser" class="active">Área do cliente <img src="/img/login.png"
                        alt="login" class="login"></a></li>
            <li><a href="#" class="active">Carrinho <img src="/img/carrinho.png" alt="carrinho" class="carrinho"></a>
            </li>
        </ul>
    </div>

</header>
<nav>

    <ul id="menu-h">
        <li><a href="http://">HOME</a></li>
        <li><a href="http://">VELAS</a></li>
        <li><a href="http://">AROMATIZADORES</a></li>
        <li><a href="http://">ÁGUA PERFUMADA</a></li>
        <li><a href="http://localhost:3002/produtos">COLEÇÕES</a></li>
    </ul>
</nav>