<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="/img/logoArome2.png" class="logoheader" alt="logo header">
        </div>
        <h1 class="logo_name">Arome</h1>
    </div>
    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="#">
                    <i class="fa-solid fa-house"></i>
                    <span class="link-name">Home</span>
                </a></li>
            <li><a href="/admin/orders">
                    <i class="fa-solid fa-boxes-packing"></i>
                    <span class="link-name">Pedidos</span>
                </a></li>
            <li><a href="/admin/clients">
                    <i class="fa-solid fa-users"></i>
                    <span class="link-name">Clientes</span>
                </a></li>
            <li>
                <a href="/admin/products">
                    <i class="fa-solid fa-database"></i>
                    <span class="link-name">Produtos</span>
                </a>
            </li>
            <li>
                <a href="/admin/products/categorias">
                    <i class="fa-solid fa-list"></i>
                    <span class="link-name">Categorias</span>
                </a>
            </li>
        </ul>

        <ul class="logout-mod">
            <!-- <li><a href="/admin/register">
                <i class="fa-solid fa fa-user-plus"></i>
                <span class="link-name">Cadastrar Administrador</span>
            </a></li> -->
            <li>
                <a href="/admin/admin-user">
                    <i class="fa-solid fa-users"></i>
                    <span class="link-name">Controle de Administrador</span>
                </a>
            </li>
            <li><a href="#">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="link-name">Sign out</span>
                </a></li>
        </ul>
    </div>
</nav>