<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/js/admin-products.js" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/admin-edit.css">
    <link rel="stylesheet" href="/css/main-css.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4917086014.js" crossorigin="anonymous"></script>
    <title>Administração</title>
</head>

<body>
    <%- include('partials/menu-admin.ejs')%>

    <section class="dashboard">
        <div class="dash-content">
            <div class="content">
            <div class="container-products">
                <h2 class="title">Editar Administrador</h2>
                <form action="/admin/admin-user/<%= adm.id %>/update" method="post" class="create-products">
            
                    <label for="m-nome">Nome</label>
                    <input type="text" id="name" value="<%= adm.name %>" name="name">

                    <label for="m-nome">E-mail</label>
                    <input type="text" id="email" value="<%= adm.email %>" name="email">

                    <button class="btn" id="btnSalvar" type="submit">Salvar</button>
                </form>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>