<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cadastro</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div id="form-cadastro">
        
    <form id="cadastro" action="/cadastro" method="POST" >
        <h1>Cadastre seus dados</h1>
            <input type="text" name="nome" id="nome" placeholder="Nome" required>
            <input  name="email" id="email" placeholder="E-mail" autocomplete="off">
            <input type="text" name="cpf" id="cpf" placeholder="CPF" autocomplete="off">
            <input 
                type="password"
                name="senha" 
                id="senha" 
                placeholder="Digite a senha" 
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$*&@#])[0-9a-zA-Z$*&@#]{8,12}$"
                title="Sua senha precisa ter entre 8 e 12 caracteres, deve conter ao menos uma letra minúscula,
                    deve conter ao menos uma letra maiúscula,
                    deve conter ao menos um caractere especial"
            >
            <!-- <input type="email" name="email" id="email" placeholder="Digite o e-mail" required> -->
            <input type="date" name="data" id="data" >

            <button type="submit" class="btn">Cadastrar</button>
           
            </form>    
    </div>
    <%- include("partials/footer.ejs") %>
    <script src="./js/cadastroValidate.js">
        
    </script>
</body>
</html>