<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/checkoutSucess.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="container-sucess"> 
        <h1>Obrigado, a sua compra foi efectuada com sucesso!</h1>
            <section class="offer-section-container">

                <div class="offer-content" id="offer">
                    <div class="offer-all">
                        <div class="offer-item">
                            <div class="offer-img">
                                <img src="/img/offers (1).png" alt="" srcset="">
                            </div>
                            <div class="offer-desc">
                                <p>Ambientador com varetas</p>
                            </div>
                            <div class="offer-price">
                                <span>R$ 350,00</span>
                            </div>
                            <div class="offer-parcel">
                                <a href="#">7 X R$ 50,00</a>
                            </div>
                            <a href="#" class="btn">Adicione ao Carrinho</a>
                        </div>
                        <div class="offer-item">
                            <div class="offer-img">
                                <img src="/img/offers (2).png" alt="" srcset="">
                            </div>
                            <div class="offer-desc">
                                <p>Spray perfumado</p>
                            </div>
                            <div class="offer-price">
                                <span>R$ 150,00</span>
                            </div>
                            <div class="offer-parcel">
                                <a href="#">5 X R$ 30,00</a>
                            </div>
                            <a href="#" class="btn">Adicione ao Carrinho</a>
                        </div>


                        <div class="offer-item">
                            <div class="offer-img">
                                <img src="/img/offers (3).png" alt="" srcset="">
                            </div>
                            <div class="offer-desc">
                                <p>Vela perfumada</p>
                            </div>
                            <div class="offer-price">
                                <span>R$ 250,00</span>
                            </div>
                            <div class="offer-parcel">
                                <a href="#">5 X R$ 50,00</a>
                            </div>
                            <a href="#" class="btn">Adicione ao Carrinho</a>
                        </div>


                    </div>
            </section>
            <h3><a href="/products" class="btn">Continuar compras </a></h3>
        <h3><a href="/" class="btn">Retornar à página principal</a></h3>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>