<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/js/admin-products.js" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/main-css.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4917086014.js" crossorigin="anonymous"></script>
    <title>Administração</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="/img/logoArome2.png" class="logoheader" alt="logo header">
            </div>
            <h1 class="logo_name">Arome</h1>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                        <i class="fa-solid fa-house"></i>
                        <span class="link-name">Home</span>
                    </a></li>
                <li><a href="#">
                        <i class="fa-solid fa-boxes-packing"></i>
                        <span class="link-name">Pedidos</span>
                    </a></li>
                <li><a href="#">
                        <i class="fa-solid fa-users"></i>
                        <span class="link-name">Clientes</span>
                    </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-database"></i>
                    <span class="link-name">Produtos</span>
                </a></li>
            </ul>

            <ul class="logout-mod">
                <li><a href="#">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="link-name">Sign out</span>
                </a></li>
            </ul>
        </div>
    </nav>
    <section class="dashboard">
        <div class="dash-content">
            <h2 class="title">Controle de estoque</h2>
            <input type="search" class="busca" placeholder="Buscar produto">
            <div class="container-products">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagem</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Quantidade</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <img src="/public/img/hero.png" alt="" srcset=""> </td>
                            <td>Aroma Canela, Cor Caramelo</td>
                            <td>Velas</td>
                            <td>50</td>
                            <td>49</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square"></i>
                                <i class="fa-solid fa-trash"></i>
                            </td>
                        </tr>
                        <tr>
                            <td> <img src="/public/img/heross.png" alt="" srcset=""> </td>
                            <td>Aroma Canela, Cor Caramelo</td>
                            <td>Velas</td>
                            <td>49</td>
                            <td>49</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square"></i>
                                <i class="fa-solid fa-trash"></i>
                            </td>
                        </tr>
                        <tr>
                            <td> <img src="/public/img/herosfundo.png" alt="" srcset=""> </td>
                            <td>Aroma Canela, Cor Caramelo</td>
                            <td>Velas</td>
                            <td>49</td>
                            <td>49</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square"></i>
                                <i class="fa-solid fa-trash"></i>
                            </td>
                        </tr>
                        <tr>
                            <td> <img src="/public/img/heross.png" alt="" srcset=""> </td>
                            <td>Aroma Canela, Cor Caramelo</td>
                            <td>Velas</td>
                            <td>49</td>
                            <td>49</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square"></i>
                                <i class="fa-solid fa-trash"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Próxima</a></li>
            </ul>
            <button onclick = "openModal()" id="new" class="btn">Cadastrar produto</button>
        </div>
    </section>
    <div class="modal-container">
        <div class="modal">
            <form>
                <label for="m-imagem"></label>
                <input type="image" id="m-imagem">

                <label for="m-nome">Nome</label>
                <input type="text" id="m-nome">

                <label for="m-descricao">Descrição</label>
                <input type="text" id="m-descricao">
                
                <label for="m-valor">Valor</label>
                <input type="text" id="m-valor">
                
                <label for="m-quantidade">Quantidade</label>
                <input type="text" id="m-quantidade">
                
                <button class="btn" id="btnSalvar">Salvar</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>