<!DOCTYPE html>
<html lang="en">

<%- include('partials/head-admin.ejs')%>

<body>
    <%- include('partials/menu-admin.ejs')%>
    <section class="dashboard">
        <div class="dash-content">
            <p>Bem-vindo (a), <%= adm %>!</p>       
        </div>
    </section>

    <%- include('partials/script-admin.ejs')%>
   
</body>

</html>