<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edituser.css">
    <title>Arome - Área usuário</title>
</head>

<body>
    <div class="tabs">
        <input type="radio" name="tabs" id="profile" checked>
        <label for="profile" class="tabp">Perfil</label>
        <div class="content">
            <h2>Perfil usuário</h2>
            <section>
                <img src="/img/user.png" alt="" srcset="">
                <h2>Detalhes de contato:</h2>
                <p>Nome do usuário</p>
                <p>Telefone: <span>+21 916 523 431</span></p>
                <p>Endereço de entrega: <span>Rua tal, nº 120 - RJ - Caxias</span></p>

            </section>
        </div>

        <input type="radio" name="tabs" id="orders">
        <label for="orders" class="tabp">Ordens</label>
        <div class="content">
            <h2>Ordens</h2>
            <div class="ordertab">
                <div class="sergio">
                    <input type="radio" name="ordertab" id="emandamento" checked>
                    <label for="emandamento">Em andamento</label>
                    <div class="status" id="demandamento">
                        <p>Ordem nº</p>
                        <p>Acompanhar encomenda</p>
                    </div>
                </div>
                <div class="sergio">
                    <input type="radio" name="ordertab" id="concluidas">
                    <label for="concluidas">Concluídas</label>
                    <div class="status" id="dconcluidas">
                        <p>Ordem nº</p>
                        <p>Data de conclusão</p>
                        
                        
                    </div>
                </div>
                <div class="sergio">
                    <input type="radio" name="ordertab" id="canceladas">
                    <label for="canceladas">Canceladas</label>
                    <div class="status" id="dcanceladas">
                        <p>Ordem nº</p>
                        <p>Data de cancelamento</p>
                        <a href="#">Mais detalhes</a>
                        
                    </div>
                </div>
            </div>
        </div>

        <input type="radio" name="tabs" id="edituser">
        <label for="edituser" class="tabp">Alterar Perfil</label>
        <div class="content" id="contentu">
            <h2>Alterar usuário</h2>
            <form id="form-usuario" method="POST">
                <label class="picture">
                    <span class="picturesp"></span>

                    <input type="file" accept="image/*" class="picturein" name="img" id="picturein">
                </label>
                <div class="campos">
                    <label>
                        Alterar nome:
                        <input type="text" name="nome" id="nome" placeholder="Digite o novo nome" minlength="3" required>
                    </label>
                    <label>
                        Alterar Data de Nascimento:
                        <input type="date" name="data" id="data" required>
                    </label>

                    <label>
                        E-mail:
                        <input type="email" name="email" id="email" placeholder="Digite o novo e-mail" required>
                    </label>

                    <label>
                        Senha:
                        <input type="password" name="senha" id="senha" placeholder="Digite a nova senha" required
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$*&@#])[0-9a-zA-Z$*&@#]{8,12}$"
                        title="Sua senha precisa ter entre 8 e 12 caracteres, deve conter ao menos uma letra minúscula,
                        deve conter ao menos uma letra maiúscula,
                        deve conter ao menos um caractere especial">
                    </label>

                    <label>
                        Confirme a Senha:
                        <input type="password" name="conf" id="conf" placeholder="Confirme a nova senha" required>
                    </label>

                    <button type="submit" class="btn">Salvar alterações</button>
                </div>
            </form>

        </div>

    </div>
    <script src="/js/scriptuser.js"></script>
  
</body>

</html>