<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-dois.css">
    <title>Arome</title>
</head>

<body>
    <header>
        <div class="header_in">
            <img src="../img/logoArome.png" class="logoheader" alt="logo header">
            <span class="a">Arome</span>
            <ul>
                <input type="text" placeholder="Buscar" class="buscar">
                <li><a href="#" class="active">Lojas <img src="../img/lojas.png" alt="lojas" class="lojas"></a></li>
                <li><a href="#" class="active">Cadastre-se <img src="../img/cadastro.png" alt="cadastro" class="cadastro"></a></li>
                <li><a href="#" class="active">Login <img src="../img/login.png" alt="login" class="login"></a></li>
                <li><a href="#" class="active">Carrinho <img src="../img/carrinho.png" alt="carrinho" class="carrinho"></a></li>
            </ul>
        </div>

    </header>
    <nav>
    
        <ul id="menu-h">
            <li><a href="http://">HOME</a></li>
            <li><a href="http://">VELAS</a></li>
            <li><a href="http://">AROMATIZADORES</a></li>
            <li><a href="http://">ÁGUA PERFUMADA</a></li>
            <li><a href="http://">COLEÇÕES</a></li>
        </ul>
    </nav>
</body>
