<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-dois.css">
    <title>Arome</title>
</head>

<body>
    <header>
        <div class="header_in">
            <img src="/img/logoArome2.png" class="logoheader" alt="logo header">
            <h1 class="a">Arome</h1>
            <ul>
                <input type="text" placeholder="Buscar" class="buscar">
				<button><img src="/img/search.png" alt="buscar" class="buscarimg"></button>
                <li><a href="#" class="active">Lojas <img src="/img/lojas.png" alt="lojas" class="lojas"></a></li>
                <li><a href="#" class="active">Cadastre-se <img src="/img/cadastro.png" alt="cadastro" class="cadastro"></a></li>
                <li><a href="#" class="active">Login <img src="/img/login.png" alt="login" class="login"></a></li>
                <li><a href="#" class="active">Carrinho <img src="/img/carrinho.png" alt="carrinho" class="carrinho"></a></li>
            </ul>
        </div>

    </header>
    <nav>
    
        <ul id="menu-h">
            <li><a href="http://">HOME</a></li>
            <li><a href="http://">VELAS</a></li>
            <li><a href="http://">AROMATIZADORES</a></li>
            <li><a href="http://">ÁGUA PERFUMADA</a></li>
            <li><a href="http://">COLEÇÕES</a></li>
        </ul>
    </nav>
    <footer>
		<div class="main-content">
			<div class="left box">
				<h2> Redes Sociais</h2>
				<div class="content">
				
					<div class="social">
						<a href="http://facebook.com"><span class="facebook"> <img src="/img/facebook.png" alt="logo facebook"></span></a>
						<a href="http://twitter.com"><span class="twitter"><img src="/img/twitter.png" alt="logo twitter"></span></a>
						<a href="http://instagram.com"><span class="instagram"> <img src="/img/instagram.png" alt="logo instagram"></span></a>
					</div>
				</div>
			</div>
			<div class="center box">
				<h2>Contatos</h2>
				<div class="content">
					<div class="place">
						<span class="img"><img src="/img/map.png" alt="map"></span>
						<span class="text">Av. Brasília nº 5 loja 6A, Rio de Janeiro</span>
					</div>

					<div class="phone">
						<span class="img"><img src="/img/phone.png" alt="phone"></span>
						<span class="text">+55 21 915846214</span>
					</div>

					<div class="email">
						<span class="img"><img src="/img/email.png" alt="email"></span>
						<span class="text">Arome@gmail.com</span>
					</div>
				</div>
			</div>
			<div class="right box">
				<h2>Receba novidades por Email</h2>
				<div class="content">
					<form action="#">
						<div class="email">
							<input type="email" required>
						</div>
						
						<div class="btn">
							<button type="button"><img src="/img/enviar.png" alt="enviar"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="bottom">
		</div>
	</footer>
</body>
