<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut-icon" href="/img/Design sem nome.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Arome</title>
</head>

<body>
    <header>
        <nav>
            <ul id="menu-h">
                <li><a href="http://">HOME</a></li>
                <li><a href="http://">VELAS</a></li>
                <li><a href="http://">AROMATIZADORES</a></li>
                <li><a href="http://">ÁGUA PERFUMADA</a></li>
                <li><a href="http://">COLEÇÕES</a></li>
            </ul>
        </nav>
    </header>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde qui laborum ducimus cum maiores sint velit temporibus, corporis blanditiis nulla nam ipsa accusamus illo perferendis expedita dolor facilis dolorum reiciendis!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde qui laborum ducimus cum maiores sint velit temporibus, corporis blanditiis nulla nam ipsa accusamus illo perferendis expedita dolor facilis dolorum reiciendis!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde qui laborum ducimus cum maiores sint velit temporibus, corporis blanditiis nulla nam ipsa accusamus illo perferendis expedita dolor facilis dolorum reiciendis!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde qui laborum ducimus cum maiores sint velit temporibus, corporis blanditiis nulla nam ipsa accusamus illo perferendis expedita dolor facilis dolorum reiciendis!
<!--
    Começando o home
-->
<section class="home">
    <div class="row">
        <div class="content">

        </div>
        <div class="books-slider">
            <a href=""></a>
        </div>
    </div>

</section>

<!--
    Terminando o home
-->
</body>
</html>