<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul id="menu-h">
                <li><a href="http://">HOME</a></li>
                <li><a href="http://">VELAS</a></li>
                <li><a href="http://">AROMATIZADORES</a></li>
                <li><a href="http://">ÁGUA PERFUMADA</a></li>
                <li><a href="http://">COLEÇÕES</a></li>
            </ul>
        </nav>
    </header>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde qui laborum ducimus cum maiores sint velit temporibus, corporis blanditiis nulla nam ipsa accusamus illo perferendis expedita dolor facilis dolorum reiciendis!
</body>
</html>