<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Style principal -->
    <link rel="stylesheet" href="/css/style.css">
    <!--  Ícone -->
    <link rel="shortcut-icon" href="/img/Design sem nome.png" type="image/x-icon">
    <!--  Link BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--Link swiperjs-->
    <link rel="stylesheet" href="/css/swiper-bundle.css" type="text/css">

    <title>Arome</title>
</head>

<body>
    <!--
    <header>
        <nav>
            <ul id="menu-h">
                <li><a href="http://">HOME</a></li>
                <li><a href="http://">VELAS</a></li>
                <li><a href="http://">AROMATIZADORES</a></li>
                <li><a href="http://">ÁGUA PERFUMADA</a></li>
                <li><a href="http://">COLEÇÕES</a></li>
            </ul>
        </nav>
    </header>

    -->

    <!--
    Começando o home
-->

    <!-- ----MAIN---- -->
    <main>
        <!-- HERO -->
        <section class="hero container">
            <div class="hero__content swiper" id="hero">
                <div class="swiper-wrapper">
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-text">
                            <h1>Coleção</h1>
                            <span>2023</span>
                            <p>Arome-se com as nossas fragrâncias</p>
                        </div>
                        <div class="hero__slide-img">
                            <img src="/img/herosfundo2.png" alt="">
                        </div>
                    </div>

                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-text">
                            <h1>40%</h1>
                            <span>OFF</span>
                            <p>Em toda linha de Aromatizadores</p>
                        </div>
                        <div class="hero__slide-img">
                            <img src="/img/herosfundo3.png" alt="">
                        </div>
                    </div>

                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-text">
                            <h1>Linha</h1>
                            <span>Pastel</span>
                            <p>Aroma e estilo</p>
                        </div>
                        <div class="hero__slide-img">
                            <img src="/img/hero-removebg-preview.png" alt="">
                        </div>
                    </div>
                </div>
        </section>
        <!--FIM HERO-->

        <!--            COMEÇO OFFERS         -->

        <section class="offer-section-container">
            <h1 class="title-container">Encontre o seu produto favorito</h1>
            <div class="offer-content" id="offer">
                <div>
                    <div class="offer-item">
                        <div class="offer-img">
                            <img src="/img/offers (1).png" alt="" srcset="">
                        </div>
                        <div class="offer-desc">
                            <p>Ambientador com varetas</p>
                        </div>
                        <div class="offer-price">
                            <span>R$ 350,00</span>
                        </div>
                        <div class="offer-parcel">
                            <a href="#">7 X R$ 50,00</a>
                        </div>
                        <a href="#" class="btn">Adicione ao Carrinho</a>
                    </div>

                    <div>
                        <div class="offer-item">
                            <div class="offer-img">
                                <img src="/img/offers (2).png" alt="" srcset="">
                            </div>
                            <div class="offer-desc">
                                <p>Spray perfumado</p>
                            </div>
                            <div class="offer-price">
                                <span>R$ 150,00</span>
                            </div>
                            <div class="offer-parcel">
                                <a href="#">5 X R$ 30,00</a>
                            </div>
                            <a href="#" class="btn">Adicione ao Carrinho</a>
                        </div>

                        <div>
                            <div class="offer-item">
                                <div class="offer-img">
                                    <img src="/img/offers (3).png" alt="" srcset="">
                                </div>
                                <div class="offer-desc">
                                    <p>Vela perfumada</p>
                                </div>
                                <div class="offer-price">
                                    <span>R$ 250,00</span>
                                </div>
                                <div class="offer-parcel">
                                    <a href="#">5 X R$ 50,00</a>
                                </div>
                                <a href="#" class="btn">Adicione ao Carrinho</a>
                            </div>
                        </div>
                    </div>
        </section>












        <!--
    Terminando o home
-->
        <script src="/js/swiper-bundle.js"></script>
        <script src="/js/script.js"></script>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>