<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
<body>
<div id="divcenter-container">   
    <div id="login-container">
        <h1>Já sou Cadastrado</h1>
    <form id="login" >
        <input type="email" name="email" id="email" placeholder="E-mail" autocomplete="off">
        <input type="password" id="password" placeholder="Senha" autocomplete="off">
        <!-- <input type="submit" value="Entrar"> -->
        <!-- <button type="submit" class="btn">Entrar</button> -->
        <button type="submit" class="btn">Entrar</button>
        <br>
    </form>
        <!-- <a href="#" id="forgot-pass">Esqueci minha Senha?</a> -->
        <button type="submit" class="btn">Esqueci minha Senha</button>

    </div>
    <div id="cadastro-container">
        <h1>Não sou Cadastrado</h1>
        <form action="">
        <h2>Cadastre-se agora mesmo nessa loja, é seguro, rápido e muito fácil.</h2>
        
        <!-- <input  type="submit" value="Clique e Cadastre-se"> -->
        <button type="submit" class="btn" href="http://localhost:3002/cadastro"><a href="http://localhost:3002/cadastro">Clique para cadastrar</a></button>    
        <!-- <a href="http://localhost:3002/cadastro">Clique para cadastrar</a> -->
        </form>

    </div>
</div>

<script type="module" src="./js/loginValidate.js"></script>

</body>
</html>