<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
  
  <h2 class="vitrine">Modelo 1</h2>
  <ul class="product-list">
      <li class="product-item">
          <a href="" target="_blank" class="product-link">
              <figure class="product-info">
                  <div class="product-info-img">
                      <img src="./TENTAR PUXAR A IMAGEM" alt="Velas aromatizantes1">
                  </div>
                  <figcaption class="product-info-description">
                      <h2 class="title">Vela e aromatizante de Rosa Vermelha</h2>
                      <p class="description">As rosas vermelhas expressam o amor incondicional, e a sua essência revela o romantismo.</p>
                      </ul>
                  </figcaption>
                  <div class="price-box">
                      <div class="price">
                          <div>
                              <ins>R$80,00</ins>
                          </div>
                          <span class="price-info">2x de R$ 40,00 </span>
                      </div>
                  </div>
              </figure>
          </a>
      </li>
   
</body>
</html>
