<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/products.css">
    <title>Products</title>
</head>
<body>
   <header>
      <div class="header_in">
          <img src="/img/logoArome2.png" class="logoheader" alt="logo header">
          <h1 class="a">Arome</h1>
          <ul>
              <input type="text" placeholder="Buscar" class="buscar">
          <button><img src="/img/search.png" alt="buscar" class="buscarimg"></button>
              <li><a href="#" class="active">Lojas <img src="/img/lojas.png" alt="lojas" class="lojas"></a></li>
              <li><a href="#" class="active">Cadastre-se <img src="/img/cadastro.png" alt="cadastro" class="cadastro"></a></li>
              <li><a href="#" class="active">Login <img src="/img/login.png" alt="login" class="login"></a></li>
              <li><a href="#" class="active">Carrinho <img src="/img/carrinho.png" alt="carrinho" class="carrinho"></a></li>
          </ul>
      </div>
      <br></br> 
  </header>
  <nav>
          <li><a href="http://">HOME</a></li>
          <li><a href="http://">VELAS</a></li>
          <li><a href="http://">AROMATIZADORES</a></li>
          <li><a href="http://">ÁGUA PERFUMADA</a></li>
          <li><a href="http://">COLEÇÕES</a></li>
      </ul>
  </nav>
  <br></br>
  <br></br>
  <br></br>
  
    <main>
        <h3>Produtos</h3>
        <article>
            <img src="/img/Velas-1.avif" alt="Velas">
            <h5>Rosa Vermelha</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-2.avif" alt="Velas">
            <h5>Chá de lima</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-3.avif" alt="Velas">
            <h5>Capim Limão</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-13.avif" alt="Velas">
            <h5>Flor de Cerejeira</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-14.avif" alt="Velas">
            <h5>Baby Talco</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-15.avif" alt="Velas">
            <h5>Bamboo</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-16.avif" alt="Velas">
            <h5>Vanilla</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-18.avif" alt="Velas">
            <h5>Lavanda</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-19.avif" alt="Velas">
            <h5>Sem aroma</h5>
            <span>R$ 40,50</span>
         </article>

        
</body>
</html>


