<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/products.css">
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="/css/header.css">
   <link rel="stylesheet" href="/css/footer.css">

   <title>Products</title>
</head>

<body>
   <%- include("partials/header.ejs") %>


      <main>
         <h3>Produtos</h3>
         <article>
            <img src="/img/Velas-1.avif" alt="Velas">
            <h5>Rosa Vermelha</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-2.avif" alt="Velas">
            <h5>Chá de lima</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-3.avif" alt="Velas">
            <h5>Capim Limão</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-13.avif" alt="Velas">
            <h5>Flor de Cerejeira</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-14.avif" alt="Velas">
            <h5>Baby Talco</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-15.avif" alt="Velas">
            <h5>Bamboo</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-16.avif" alt="Velas">
            <h5>Vanilla</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-18.avif" alt="Velas">
            <h5>Lavanda</h5>
            <span>R$ 40,50</span>
         </article>
         <article>
            <img src="/img/Velas-19.avif" alt="Velas">
            <h5>Sem aroma</h5>
            <span>R$ 40,50</span>
         </article>

         <%- include('partials/footer.ejs') %>

</body>

</html>