<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Style principal -->
    <link rel="stylesheet" href="/css/produto.css">
    <!-- Style header -->
    <link rel="stylesheet" href="/css/header.css">
    <!--  Ãcone -->
    <link rel="shortcut-icon" href="/img/Design sem nome.png" type="image/x-icon">
    <!--  Link BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--Link swiperjs-->
    <link rel="stylesheet" href="/css/swiper-bundle.css" type="text/css">
    <!--Link footer-->
    <link rel="stylesheet" href="/css/footer.css">

    <title>Arome</title>
</head>

  <body>
    <%- include("partials/header.ejs") %>

  <main>

       <div class="producto-card1">
        <div class="producto-card1-img">
          <img src="/img/Velas-16.avif" alt="produto">
        </div>
        <div class="producto-card1-text">
          <h3>Vela Perfumada</h3>
          <p>Vela perfumada sem aroma</p>
          <p>R$ 40,50</p>
          <button class="btn-comprar">Comprar</button>
        </div>
      </div>

  </main>
  <%- include("partials/footer.ejs") %>
</body>

</html>