

/* BUTTON */

.btn {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: var(--primary-color);
  border: none;
  color: #586875;
  font-size: var(--small-font-size);
  font-weight: var(--font-extrabold);
  text-transform: uppercase;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.btn:hover {
  background-color: var(--secondary-color);
}

/* NAV */

nav {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--primary-color);
  border-right: 1px solid var(--secondary-color-alt);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) 0px 0px 16px 0px;
  z-index: 5;
  transition: all 0.4s ease 0s;
}


nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}

nav .logo-name {
  display: flex;
  justify-content: center;
}


nav .logo-name .logo_name {
  font-family: "Tangerine";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #586875;
  margin-top: 10px;
}

nav .logo-image img {
  display: flex;
  width: 45px;
  object-fit: cover;
}

nav .menu-items {
  display: flex;
  margin-top: 40px;
  height: calc(100% - 100px);
  flex-direction: column;
  justify-content: space-between;
}

/* MENU ITEMS */

.menu-items li {
  list-style: none;
}

.menu-items ul {
  list-style: none;
}

.menu-items .nav-links li a:hover {
  color: #bdd6d2;
  transition: all 0.4s ease 0s;
}

.menu-items .nav-links li a,
.menu-items .logout-mod li a {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  position: relative;
}


i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  color: #586875;
}

.menu-items li a .link-name {
  font-size: 18px;
  color: #586875;
  transition: all 0.4s ease 0s;
}

.nav-links li a:hover i,
.nav-links li a:hover span,
.logout-mod li a:hover i,
.logout-mod li a:hover span {
  color: #bdd6d2;
  transition: all 0.4s ease 0s;
}


/*  DASHBOARD CONTENT  */
.dashboard {
  display: flex;
  justify-content: center;
  font-family: var(--font-body);
}

.dashboard .dash-content {
  padding: 50px;
  margin: 150px;
  font-family: --font-body;
 
}

.dashboard .dash-content .title {
  display: inline;
  padding-right: 35px;
  font-family: "Tangerine";
  font-style: normal;
  font-size: 105px;
  color: #586875;
}

.dashboard .dash-content input {
  margin: 15px;
  border-radius: 4px;
  font-size: 22px;
}

.container-products {
  margin: 80px;
}

.dashboard .dash-content .container-products tbody img {
  width: 23px;
}

/* TABELA */
.dashboard .dash-content .container-products .table {
  font-family: var(--font-body);
  color: var(--secondary-color);
}

.dashboard .dash-content .container-products .table tbody tr i {
  cursor: pointer;
}

.dashboard .dash-content .container-products .table tbody tr i:hover {
  color: #bdd6d2;
  transition: all 0.4s ease 0s;
}

/* PAGINAÇÃO */

.dashboard .dash-content .pagination {
  display: flex !important;
  justify-content: center;
}

.dashboard .dash-content .pagination li {
  align-items: center;
}

.dashboard .dash-content .pagination .page-item .active {
  background-color: #586875 !important;
} 

.dashboard .dash-content .pagination .page-item .active {
  background-color: var(--secondary-color-alt) !important;
}

.dashboard .dash-content .pagination .page-item a {
  font-family: var(--font-body);
  color: var(--secondary-color);
}

/* Form */
.container-products {
  position: relative;
  padding: 50px;

}

.create-products {
  display: flex;
    flex-direction: column;
    font-family: var(--font-body);
    width: 700px;
}

.image {
  width: 150px;
  height: 200px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: 200px;
  right: 150px;
  color: #586875;
  font-size: 16px;
  text-align: center;
  font-family: var(--font-body);
  border: 2px dashed var(--secondary-color-alt);
  cursor: pointer;
  transition: all 400ms ease-in-out;
  
}

.image:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#btnSalvar {
  margin-top: 20px;
}

form label {
  margin-left: 15px;
  margin-bottom: 0%;
}

form input {
  margin-left: 60px;
  width: 60%;
}