*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica;
    color:#323232;
    border: none;
    overflow: hidden;

}
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Tangerine&display=swap%27');

:root {

    
    /*----COLORS----*/
    --primary-color: #f6eddc;
    --primary-color-alt: #e3e5d7;
    --secondary-color: #bdd6d2;
    --secondary-color-alt: #a5c8ca;
    --terciary-color: #586875;
    --black-color: black;
    --white-color: white;

    /*----FONTS SIZE AND TYPE----*/
    --font-body: 'Dosis', 'sans-serif';
    --font-cursive: 'Tangerine', 'sans-serif';
    --big-font-size: 3rem;
    /*48px*/
    --h1-font-size: 2.25rem;
    /*36px*/
    --h2-font-size: 1.5rem;
    /*24px*/
    --h3-font-size: 1.25rem;
    /*20px*/
    --normal-font-size: 1rem;
    /*16px*/
    --small-font-size: 0.813rem;
    /*12px  0.938rem  14*/

    /*---------------FONT WEIGHT-------------------*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;

    /*---------------MARGINS-------------------*/
    --mb-05: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --Z-fixed: 100;
    --z-tooltip: 10;

}
body {
    width: 100vw;
    padding: 50px;
    background-color:var(--primary-color-alt);

}
textarea:focus, input:focus{
    outline: none;
}

#divcenter-container{

    margin: auto;
    padding: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color-alt);
    
}

#login-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size:2.25rem;
    padding: 15px;
    
}


input{
    display: block;
    width: 100%;
    text-align: left,center, #c2bfbf;
    border: 2px solid #c2bfbf;
    padding: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    
    
}
input[type="submit"]{
    font-weight: bold;
    border: none;
    color: #ffff;
    
}

.btn{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: var(--primary-color-alt);
    font-size: var(--small-font-size);
    font-weight: var(--font-semibold);
    font-family: var(--font-body);
    color: #586875;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    border-radius: 10%;
}


.btn:hover {
    background-color: var(--secondary-color);
}

.admin-package {
    width: 150px;
}