@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Tangerine&display=swap%27');

:root {

    
    /*----COLORS----*/
    --primary-color: #f6eddc;
    --primary-color-alt: #e3e5d7;
    --secondary-color: #bdd6d2;
    --secondary-color-alt: #a5c8ca;
    --terciary-color: #586875;
    --black-color: black;
    --white-color: white;

    /*----FONTS SIZE AND TYPE----*/
    --font-body: 'Dosis', 'sans-serif';
    --font-cursive: 'Tangerine', 'sans-serif';
    --big-font-size: 3rem;
    /*48px*/
    --h1-font-size: 2.25rem;
    /*36px*/
    --h2-font-size: 1.5rem;
    /*24px*/
    --h3-font-size: 1.25rem;
    /*20px*/
    --normal-font-size: 1rem;
    /*16px*/
    --small-font-size: 0.813rem;
    /*12px  0.938rem  14*/

    /*---------------FONT WEIGHT-------------------*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;

    /*---------------MARGINS-------------------*/
    --mb-05: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --Z-fixed: 100;
    --z-tooltip: 10;

}
html {
    scroll-behavior: smooth;
    font-size: 24px;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white-color);
    font-family: var(--font-body);
    font-style: normal;
    font-weight: 200;
    overflow-x: hidden;
    color: #586875;


}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}



/*EDIT USER*/

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 150px auto;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs .tabp {
    padding: 20px;
    background-color: var(--primary-color-alt);
}

.tabs .content {
    background-color: var(--primary-color);
    padding: 25px;
    width: 100%;
    order: 1;
    display: none;
}

.tabs .content h2 {
    font-family: var(--font-cursive);
    font-size:  48px;
    padding: 20px;
    font-weight: var(--font-light);
}

.tabs input[type='radio']:checked + label + #contentu {
    max-width: 600px;
    
    grid-template-columns: 200px 100px;
}

#contentu .picture {
    
}
.tabs input[type='radio']:checked + label + .content {
    display: block;
}

.tabs input[type='radio']:checked + label {
    background-color: var(--primary-color);
}

.ordertab label {
    cursor: pointer;
}

.ordertab label:hover {
    color: var(--secondary-color);
}

.ordertab input[type='radio']:checked + label {
    color: var(--secondary-color-alt);
    text-decoration:underline;
    
}

.ordertab .status {
    display: none;
    position: absolute;
    left: 0;
    
}

.ordertab input[type='radio']:checked + label + .status {
    display: block;
}

.ordertab {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100px;
    gap: 20px;
}



#form-usuario {
    width: 400px;
    padding: 15px auto;
}

#form-usuario .campos {
    display: flex;
    flex-direction: column;
}

#form-usuario .campos label {
    padding-bottom: 10px;
}

#form-usuario .campos input{
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}

img {
    width: 100px;
}

.btn {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: var(--primary-color-alt);
    font-size: var(--small-font-size);
    font-weight: var(--font-semibold);
    font-family: var(--font-body);
    color: #586875;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    border-radius: 10%;

}

.btn:hover {
    background-color: var(--secondary-color);
} 

/*   PICTURE CHOOSE  */

.picturein {
        display: none;
}

.picture {
    width: 100px;
    height: 150px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 415px;
    color: #586875;
    font-size: 16px;
    text-align: center;
    font-family: var(--font-body);
    border: 2px dashed var(--secondary-color-alt);
    cursor: pointer;
    transition: all 400ms ease-in-out;
    
}

.picture:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

