
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'caviarDreams';
}

@font-face {
    font-family:'caviarDreams' ;
    src: url('CaviarDreams.ttf') format('opentype');
}

#menu-h {
    list-style-type: none;
    padding: 0;
}

#menu-h li {
    display: inline;
}

#menu-h a {
    text-decoration: none;
}
