@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Tangerine&display=swap%27');

:root {
    /*----COLORS----*/
    --primary-color: #f6eddc;
    --primary-color-alt: #e3e5d7;
    --secondary-color: #bdd6d2;
    --secondary-color-alt: #a5c8ca;
    --terciary-color: #586875;
    --black-color: black;
    --white-color: white;

    /*----FONTS SIZE AND TYPE----*/
    --font-body: 'Dosis', 'sans-serif';
    --font-cursive: 'Tangerine', 'sans-serif';
    --big-font-size: 3rem;
    /*48px*/
    --h1-font-size: 2.25rem;
    /*36px*/
    --h2-font-size: 1.5rem;
    /*24px*/
    --h3-font-size: 1.25rem;
    /*20px*/
    --normal-font-size: 1rem;
    /*16px*/
    --small-font-size: 0.813rem;
    /*12px  0.938rem  14*/

    /*---------------FONT WEIGHT-------------------*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;

    /*---------------MARGINS-------------------*/
    --mb-05: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

}
html {
    scroll-behavior: smooth;
    font-size: 24px;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white-color);
    font-family: var(--font-body);
    font-style: normal;
    font-weight: 200;
    overflow-x: hidden;

}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: auto 0%;
}

.section {
    padding: 6rem 6%;
}

.section-title {
    font-size: var(--h1-font-size);
    text-align: center;
    font-weight: var(--font-medium);

}

/*HERO*/

.hero {
    width: 100%;
}

.hero_slide_text {
    text-align: center;
    position: relative;
}

.hero_slide_text h1, .hero_slide_text span {
    font-family: var(--font-cursive);
    font-size: 200px;
    color: var(--secondary-color-alt);
}

.hero_slide_text span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
    color: var(--primary-color);
}

.hero_slide_text p {
    font-family: var(--font-cursive);
    font-size: var(--h1-font-size);
    line-height: 52px;
    margin-top: var(--mb-1-5);
}

.hero_slide_img {
    text-align: center;
}

.hero_slide_img img {
    width: 450px;
}