
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

body {
    color:blueviolet;
}


#menu-h {
    list-style-type: none;
    padding: 0;
}

#menu-h li {
    display: inline;
}

#menu-h li a {
    text-decoration: none;
}
